body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 50px;
}

.board-row {
  display: inline-block;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  height: 70px;
  /*margin-right: 25px;*/
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 70px;
}

.wall-vertical {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  height: 70px;
  /*margin-right: 25px;*/
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 20px;
}

.wall-horizontal {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  height: 20px;
  margin-right: 20px;
  /*margin-top: -1px;*/
  padding: 0;
  text-align: center;
  width: 70px;
}

.first-col-board-tile {
  /*margin-left: 25px;*/
}

.circle {
  height: 20px;
  width: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}


